{% extends "base/base.html" %}
{% block content %}

<h2> Календар </h2>
<hr>


<table>

	<caption>
		<a href="/calend/{{prev_year}}/{{prev_month}}/">
			<i class="fi-arrow-left size-16"></i>
		</a>
		{{ month_title }}
		<a href="/calend/{{next_year}}/{{next_month}}/">
			<i class="fi-arrow-right size-16"></i>			
		</a>
	</caption>
	
	<thead>
		<tr>
			{% for title in days_titles %}				
				{% ifequal title "Нд" %} <td id="weekend"> {% else %} <td> {% endifequal %}
					{{ title }} 
				</td>
			{% endfor %}
		</tr>
	</thead>

	{% for day, wday in days %}
			
		{% ifequal wday 0 %} <tr> {% endifequal %}
		
		{% ifequal wday 6 %}
			<td id="weekend"> 
		{% else %} 
			{% ifequal day today %}
				 <td id="today">
			{% else%} 
				<td>
			{% endifequal %} 
		{% endifequal %}
		
			{% ifnotequal day 0 %} {{ day }} {% endifnotequal %}
		</td>
		{% ifequal wday 6 %} </tr> {% endifequal %}
	{% endfor %}
</table>
<hr>


{% if events %}
<h4>Події у вибраному місяці:</h4>
<br>
<ul>
	{% for event in events %}
		<li>
			{{ event.ev_date }} о {{ event.ev_time }}: <b>{{ event.title }} </b> <br>
			Місце проведення: {{ event.place }} <br> 
			{% if event.body %}				
				{{ event.body }}
				<br>
			{% endif %}
			Автор: {{ event.author }}			
		</li>
		<br>
	{% endfor %}
</ul>
<hr>
{% endif %}

 
 {% if user.is_authenticated %}
 <h4>Добавити подію:</h4>
 <form action="" method="post">
     {% csrf_token %}
     <table>
         {{ ev_form.as_table }}
     </table>
     <input type="submit" class="button submit" value="Відправити">
 </form>  
 {% endif %}



{% endblock %}