{% extends "base/base.html" %}

{% block content %}

<h2>Щоденник</h2>
<hr>

{% for dn in d_notes %}
	{% ifchanged dn.hw_date %}
		{% if not forloop.first %}
			<hr>
		{% endif %}		
		<b>На {{ dn.hw_date }}:</b><br>		
	{% endifchanged %}
	{{ dn.lesson }} {{dn.hw_descr }} <br>
{% endfor %}



{% if user.is_authenticated %}
<hr>
<h4>Добавити завдання:</h4>
<hr>
<form action="" method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input class="button submit" type="submit" value="Відправити">
</form>
<hr>
{% endif %}

{% endblock %}