{% extends "base/base.html" %}

{% block content %}


<form action="." method="post">	
	{% csrf_token %}

	<h2>Вхід</h2>
	<hr>
	{% if login_error %}
		<p> {{ login_error }} </p>
	{% endif %}
	
	{% if curr_url %}
		<p> {{ curr_url }} </p>
	{% endif %}
	
	<br>	
	<label for="username">Користувач:</label>
	<input type="text" name="username">
	<br>
	<label for="password">Пароль:</label>
	<input type="password" name="password">	
	
	<br><br><hr><br>
	<input type="submit" class="submit button" value="Ввійти">
</form>


{% endblock %}