{% extends "base/base.html" %}
{% block content %}

<h2>{{ title }}</h2>
<hr>

<ul>
{% if dataset %}
	<li>
	{% for row in dataset %}
<!-- 		<img src={{ row.photo.url }}/> -->
		<img src=/{{ row.thumbnail_path }}/>
		{% if row.description %}
			<h6>{{row.description}}</h6>
		{% endif %}
		<br>
	{% endfor%}
	</li>
{% else %}
	<p>Немає фото</p>
{% endif %}
</ul>

{% if user.is_authenticated %}
<h4>Добавити фото</h4>
<hr>
<form enctype="multipart/form-data" method="post" action=".">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input class="button" type="submit" class="button submit" value="Відправити">
</form>	
<hr>
{% endif %}


{% endblock %}